body {
    background-color: #D4D9D9; 
}
:root {
    --grid-rows: 50; 
    --grid-cols: 50;  
    --brightness: 1.0; 
} 


#main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%; 
}

#title {
    font-family: 'Emilys Candy', cursive;
    font-size: 10vh;
    text-align: center;
    margin: 2vh -1vh; 
    height: fit-content;
}

/* Grid container and its children */
#grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    height: 76vh; 
    width: 76vh; 
}

#grid-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79vh; 
    width: 79vh; 
    border-radius: 4px;
    background-color: #C0C2C4;
}

.grid-item:hover {
    background-color: lightslategrey !important;
}

.grid-item{
    background-color: rgba(255, 255, 255, 1);
    --brightness: 1.0; 
}

.top-left-border {
    border-top: 1px solid #ddd; 
    border-left: 1px solid #ddd;
}

.right-border {
    border-right: 1px solid #ddd;
}

.bottom-border {
    border-bottom: 1px solid #ddd;
}

.grid-item:hover {
    background-color: black;
}

/* menu to modify the grid */
#modification-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center ;
    gap: 3vh; 
    width: 30vh; 
    padding: 3vh; 
    background-color: #F4F5F5; 
    height: 74vh; 
    font-family: 'Roboto Serif', serif;
    font-size: 2vh; 
    border-radius: 8px;
}

button {
    border: 1.5px solid black; 
    width: 100%; 
    height: 4.5vh; 
    font-size: 2vh; 
    border-radius: 10px;
    transition: all 0.4s ease; 
    font-family: 'Roboto Serif', serif;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 20px 1px;
}

.clicked {
    background-color: #C5C3C6;
}

#num-divs {
    align-self: center;
}

/* slider */
.slide-container {
    width: 100%;
}

.slider {
    appearance: none;
    width: 100%; 
    height: 3vh; 
    background: #C0C2C4;
    border-radius: 5px;  
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: 0.2s; 
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 50px;
    height: 50px; 
    border: 0; 
    background: url('icons8-pencil-50.png');
    cursor: pointer;
}

/* color picker */
.color-picker-container {
    display: flex; 
    flex-direction: row;
}

input[type="color"] {
    outline: none; 
    border: 1px solid #B5B8BA; 
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
    height: 2vh; 
    width: 5vh; 
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

@media only screen and (max-device-width:480px) {
    #grid-container {
        height: 46vw; 
        width: 46vw; 
    }

    #grid-container-wrapper {
        height: 49vw; 
        width: 49vw; 
    }

    #modification-menu {
        gap: 2vh; 
        width: 20vw; 
        padding: 3vh;
        height: 43vw;
    }
    
}